## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager

## ESX Legacy
ensure mysql-async
ensure oxmysql
ensure cron
ensure skinchanger
ensure es_extended
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure esx_skin

## ESX Addons
ensure esx_movercamaramuerto
ensure esx_datastore
ensure esx_ambulancejob
ensure esx_policejob
ensure esx_PoliceGarage
ensure esx_drugs
ensure esx_banking
ensure esx_givevehicle

# Roda
ensure Roda_Crosshair

# Robos
#ensure esx_zholdup


## Discord 
ensure [Discord]

# Comunicacion
ensure [Voice]

# No ESX
ensure [NoESX]

# Mapeos
ensure [Mapeos]
ensure mapeos

# Inventory
ensure [F2]

# Hud
ensure [hud]

# Chat
ensure [chat]

# Logs
ensure [Logs]

# Vehiculos
ensure [Vehiculos]

# Prueba 
ensure [Prueba]